<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container">
            <h1 class="mt-4 text-center">Form using vue</h1>
            <form>
              <div class="form-group">
                <lebel class="label1"><b>Enter Employee ID :</b></lebel>
                <input type="text" class="input1" v-model="empid" required/>
                </div>
              <div class="form-group">
                <label for="fname"><b>First Name :</b></label>
                <input
                  type="text"
                  v-model="fname"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="lname"><b>Last Name :</b></label>
                <input
                  type="text"
                  v-model="lname"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <lebel class="label1"><b>Enter age :</b></lebel>
                <input type="text" class="input1" v-model="age" />
                </div>
                <div class="form-group">
                <lebel class="label1"><b>Enter gender :</b></lebel>
                <input type="text" class="input1" v-model="gender" />
                </div>
              <button type="button" @click="onSubmit" class="btn btn-dark">
                Submit
              </button>
            </form>
            <table class="table mt-5">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col"> Emp. ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col"> Age </th>
                  <th scope="col"> Gender </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="entry in sortedList">
                  <!-- <th scope="row">{{ ++i }}</th> -->
                  <td>{{ entry.empid }}</td>
                  <td>{{ entry.fname }}</td>
                  <td>{{ entry.lname }}</td>
                  <td>{{ entry.age }}</td>
                  <td>{{ entry.gender }}</td>
                </tr>
              </tbody>
            </table>
          </div>
    <script src="/project1.js"></script>
</body>
</html>